<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:support_data.title, description:support_data.description}) %>
</head>
<body>
  <%- include('../partials/menu', {title:support_data.title}) %>

<div class="content">
  <%- include('../partials/header', {title:support_data.title, subheading: 'Support'}) %>
  <div style="display:flex; flex-direction:column; align-items:center;">
    <p>
      If you're a developer, you can connect on the Blue Shark Friends <a href="https://github.com/orgs/Blue-Shark-Friends/discussions">GitHub Discussions page</a>.
    </p>
    <br />
    <p>
      For all other queries, feel free to reach out to us at <a href="mailto:<%= branding_data.email %>"><%= branding_data.email %></a> if you have any questions.
    </p>
  </div>
</div>

<%- include('../partials/footer') %>

</body>
</html>
